<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="anxpp.com旗下网站"/>
    <meta name="keywords" content="anxpp, 暗香飘飘, Tiny Software Studio, 免费建站"/>
    <meta name="author" content="anxpp"/>
    <title>CSDN每周干货分享</title>
    <!-- Bootstrap Core CSS -->
    <link href="http://qiniu.anxpp.com/anxpp/index/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link href="http://qiniu.anxpp.com/anxpp/index/css/landing-page.css" rel="stylesheet"/>
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css"/>
</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="http://anxpp.com">Tiny Software Studio</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#home">主页</a></li>
                <li><a href="#site">免费建站</a></li>
                <li><a href="#blog">博客</a></li>
                <li><a href="#IM">TinyIM</a></li>
                <li><a href="#members">成员</a></li>
                <li><a href="#contact">联系方式</a></li>
                <li><a href="#about">关于</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- Header -->
<a name="home"></a>
<div class="intro-header" style="position: relative;">
    <canvas id="c" style="position: absolute;top: 0;left: 0;background: #000; width: 100%; height: 100%;">不支持canvas
    </canvas>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Tiny Software Studio</h1>
                    <h3>一个小而精的开发团队</h3>
                    <hr class="intro-divider"/>
                    <ul class="list-inline intro-social-buttons">
                        <li style="display: none;"><a href="http://anxpp.com/resume" class="btn btn-default btn-lg"><i
                                class="fa fa-github fa-fw"></i> <span class="network-name"
                                                                      style="font-size: 18px">我的简历</span></a></li>
                        <li><a href="http://weapp.space/" class="btn btn-default btn-lg"><i
                                class="fa fa-github fa-fw"></i> <span class="network-name" style="font-size: 18px">Tiny建站</span></a>
                        </li>
                    </ul>
                    <hr class="intro-divider"/>
                    <ul class="list-inline intro-social-buttons">
                        <li><a href="http://blog.anxpp.com" target="_blank" class="btn btn-default btn-lg"><i
                                class="fa fa-github fa-fw"></i> <span class="network-name"
                                                                      style="font-size: 18px">技术博客</span></a></li>
                        <li><a href="http://blog.csdn.net/anxpp" target="_blank" class="btn btn-default btn-lg"><i
                                class="fa fa-github fa-fw"></i> <span class="network-name" style="font-size: 18px">CSDN博客</span></a>
                        </li>
                        <hr class="intro-divider"/>
                        <ul class="list-inline intro-social-buttons">
                            <li><a href="http://anxpp.com/nexus" class="btn btn-default btn-lg"><i
                                    class="fa fa-github fa-fw"></i> <span class="network-name">Maven仓库</span></a></li>
                            <li><a href="https://github.com/anxpp" class="btn btn-default btn-lg"><i
                                    class="fa fa-github fa-fw"></i> <span class="network-name">GitHub</span></a></li>
                            <li><a href="#IM" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span
                                    class="network-name">Tiny IM</span></a></li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->
<!-- Page Content -->
<a name="site"></a>
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 col-sm-12 col-xs-0"></div>
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer"/>
                <div class="clearfix"></div>
                <h2 class="section-heading">免费建站</h2>
                <p class="lead">
                    免费设计网页<br>
                    <br>提供后台管理功能<br>
                    <br>免费提供网站服务器<br>
                    <br>免费提供二级域名<br>
                    <br>您只需要提供网站素材即可<br><br>
                    <a href="http://weapp.space">马上开始...</a>
                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="http://qiniu.anxpp.com/anxpp/index/image/im.jpg" alt=""/>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<a name="blog"></a>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer"/>
                <div class="clearfix"></div>
                <h2 class="section-heading">技术博客:</h2>
                <p class="lead">
                    <a href="http://blog.anxpp.com" target="_blank">O(∩_∩)O~<br>
                        <br>http://blog.anxpp.com/</a>
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <a href="http://blog.anxpp.com" target="_blank"><img class="img-responsive"
                                                                     src="http://qiniu.anxpp.com/anxpp/index/image/blog.png"
                                                                     alt=""/></a>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- Page Content -->
<a name="IM"></a>
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer"/>
                <div class="clearfix"></div>
                <h2 class="section-heading">TinyIM</h2>
                <p class="lead">
                    不只是即时通讯软件...<br>
                    <br>敬请期待...
                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="http://qiniu.anxpp.com/anxpp/index/image/im.jpg" alt=""/>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<a name="members"></a>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer"/>
                <div class="clearfix"></div>
                <h2 class="section-heading">团队核心成员:</h2>
                <p class="lead">
                    yangtao、liumeiwu、housenyang、guoyang、qianyujia<br/>
                    团队招募中......<br/>
                    有加入意向请联系邮箱：<a href="Mailto:anxppp@163.com">anxppp@163.com</a>
                </p>
                <p class="lead">anxpp</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="http://qiniu.anxpp.com/anxpp/index/image/ipad.jpg" alt=""/>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->
<a name="contact"></a>
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer"/>
                <div class="clearfix"></div>
                <h2 class="section-heading">联系方式：</h2>
                <p class="lead">
                    邮箱：anxppp@163.com<br>博客：http://blog.anxpp.com<br>QQ： <a
                        href="http://wpa.qq.com/msgrd?v=3&amp;uin=69380618&amp;site=qq&amp;menu=yes">********</a> <br>微博--Facebook<br>Twitter--Github<br>LinkedIn--Stackoverflow<br>Docker
                    Hub--Csdn<br>
                    <a target="_blank" href="http://blog.anxpp.com/index.php/about.html">更多...</a>
                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="http://qiniu.anxpp.com/anxpp/index/image/dog.jpg" alt=""/>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-b -->
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer"/>
                <div class="clearfix"></div>
                <h2 class="section-heading">关于：</h2>
                <!-- 					<p class="lead">一个小而精的开发团队</p> -->
                <p class="lead">
                    ”博客中文章均为原创：<a href="http://blog.anxpp.com" target="_blank">blog.anxpp.com</a>“
                </p>
                <p class="lead">
                    我的简历：<a href="http://anxpp.com/resume" target="_blank">我的简历</a>
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="http://qiniu.anxpp.com/anxpp/index/image/phones.jpg" alt=""/>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->
<a name="about"></a>
<div class="banner" style="position: relative;">
    <iframe style="position: absolute;top: 0;left: 0;background: #000; width: 100%; height: 100%;"
            src="http://qiniu.anxpp.com//web/fragment/colorfulfire/index.html"></iframe>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h2>更多介绍:</h2>
            </div>
            <div class="col-lg-9">
                <ul class="list-inline banner-social-buttons">
                    <li><a href="https://www.facebook.com/yang.tao.969" class="btn btn-default btn-lg"><i
                            class="fa fa-github fa-fw"></i> <span class="network-name">Facebook</span></a></li>
                    <li><a href="https://twitter.com/iamanxpp" class="btn btn-default btn-lg"><i
                            class="fa fa-github fa-fw"></i> <span class="network-name">Twitter</span></a></li>
                    <li><a href="https://github.com/anxpp" class="btn btn-default btn-lg"><i
                            class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a></li>
                    <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span
                            class="network-name">Linkedin</span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.banner -->
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li><a href="#home">主页</a></li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li><a href="#about">关于</a></li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li><a href="#members">成员</a></li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li><a href="#contact">联系方式</a></li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; Tiny Software Studio 2016. All Rights Reserved
                    渝ICP备15010564号</p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="http://qiniu.anxpp.com/anxpp/index/js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="http://qiniu.anxpp.com/anxpp/index/js/bootstrap.min.js"></script>
</body>
</html>